body{
    width: 100%;
    margin: 0;
    line-height: 1.6;
}
.body{
    height: auto;
    width: 80%;
    font-family: 'sans-serif';
    margin-left: 11%;
    margin-bottom: 5%;
}
/*header*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

header {
    background-color: #222222d5;
    color: #fff;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #4e4c4c;
}

header nav ul li button {
    background-color: #e44d26;
    color: #fff;
    width: auto;
    height: 35px;
    border: none;
    margin-top: -5px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    
}

header nav ul li button:hover {
    background-color: #ca3713;
    color: #222;
}
.logotop img{
    width: 60px;
    border-radius: 40px;
}
.topo{
    width: 100%;
    height: auto;
    display: flex;
}
.ing{
    width: 100px;
    height: auto;
    margin-left: 30px;  
}
.back{
    background: #0000002d;
    width: 40%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.521);
}

.infor{
    display: flex;
    float: right;
    margin-left: 67%;
    margin-top: 17px;
}
.infor button{
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    height: 30px;
    margin-right: 10px;
    background-color: transparent;
}
.infor button:hover{
    background: #000000;
    color: #fff;
    box-shadow: 3px 3px 5px black;
    transition: 250ms;
}
.titutlo1{
    margin-top: 50px;
}
.titutlo1 h1{
    font-weight: bold;
}
.subtitle{
    color: #3b3b3b83;
}
.dodisplay{
    display: flex;
}
.infreferent{
    width: 80%;
    height: auto;
    margin-right: 20% ;
}
.imgdapagina{
    width: 80%;
    height: auto;
    margin-top: -60px;
    background-color: transparent;
}
.imgdapagina img{
    width: 80%;
    height: 110%;
    border-radius: 8px;
    border: 1px solid #00000049;
    box-shadow: 2px 2px 5px #000000b0 ;
}
.imp1 input{
    padding: 10px;
}
.imp1{
    display: flex;
}
.imputes{
    margin-right: 30px;
    margin-left: 25px;
}
.imppw{
    float: left;
    display: flex;
}
.buttoncadastra{
    margin-bottom: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.buttoncadastra button{
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    height: 30px;
    margin-right: 10px;
    background-color: transparent;
    margin-left: 20px;
}
.buttoncadastra button:hover{
    background: #000000;
    color: #fff;
    box-shadow: 3px 3px 5px black;
    transition: 250ms;
}
.totalfim{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.namesite{
    display: flex;
    width: 100%;
}
.namesite img{
    width: 100px;
    height: auto;
    margin-right: 10px;
}
.fimsite{
    display: flex;
}
.buttonfim button{
    border: none;
   font-size: 15px;
   cursor: pointer;
   border-radius: 5px;
   margin-bottom: 35px;
   height: 30px;
   width: auto;
   margin-right: 90px;
   margin-top: 30px;
   font-size: 20px;
   background-color: transparent;
}
.buttonfim button:hover{
   background: #000000;
   color: #fff;
   box-shadow: 3px 3px 5px black;
   transition: 250ms;
}
.topctotal{
    display: flex;
    float: right;
    width: 30%;
}
.topc{
    margin-left: 30px;
}
.top1{
    margin-bottom: 15px;
    margin-left: 10px;
    text-decoration: none;
}
.atopc1{
    text-decoration: none;
    color: #000000;
}

.erro{
    color: red;
    display: none;
}
.tituloimp{
    margin-top: 20px;
    margin-left: 5%;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .social-links a {
    display: inline-block;
    margin-left: 15px;
}

footer .social-links img {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

footer .social-links img:hover {
    opacity: 1;
}


