body{
    width: 80%;
    height: auto;
    margin-left: 9%;
    font-family: 'Courier New', Courier, monospace;
}

.topo{
    width: 100%;
    height: auto;
    display: flex;
}
.ing{
    width: 100px;
    height: auto;
    margin-left: 30px;  
}
.back{
    background: #0000002d;
    width: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.521);
    margin-bottom: 100px;
}

.infor{
    display: flex;
    float: right;
    margin-left: 67%;
    margin-top: 17px;
}
.infor button{
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    height: 30px;
    margin-right: 10px;
    background-color: transparent;
}
.infor button:hover{
    background: #000000;
    color: #fff;
    box-shadow: 3px 3px 5px black;
    transition: 250ms;
}
.titutlo1{
    margin-top: 50px;
}
.titutlo1 h1{
    font-weight: bold;
}
.subtitle{
    color: #3b3b3b83;
}
.dodisplay{
    display: flex;
}
.infreferent{
    width: 80%;
    height: auto;
    margin-right: 20% ;
}
.imgdapagina{
    width: 80%;
    height: auto;
    margin-top: -60px;
    background-color: transparent;
}
.imgdapagina img{
    width: 80%;
    height: 110%;
    border-radius: 8px;
    border: 1px solid #00000049;
    box-shadow: 2px 2px 5px #000000b0 ;
}
.imp1 input{
    padding: 10px;

}
.imp1{
    display: flex;
}
.imputes{
    margin-right: 30px;
}
.imppw{
    margin-bottom: 28px;
}
.buttoncadastra{
    margin-bottom: 80px;
}
.buttoncadastra button{
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    height: 30px;
    margin-right: 10px;
    background-color: transparent;
}
.buttoncadastra button:hover{
    background: #000000;
    color: #fff;
    box-shadow: 3px 3px 5px black;
    transition: 250ms;
}
.totalfim{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.namesite{
    display: flex;
    width: 100%;
}
.namesite img{
    width: 100px;
    height: auto;
    margin-right: 10px;
}
.fimsite{
    display: flex;
}
.buttonfim button{
    border: none;
   font-size: 15px;
   cursor: pointer;
   border-radius: 5px;
   margin-bottom: 35px;
   height: 30px;
   width: auto;
   margin-right: 90px;
   margin-top: 30px;
   font-size: 20px;
   background-color: transparent;
}
.buttonfim button:hover{
   background: #000000;
   color: #fff;
   box-shadow: 3px 3px 5px black;
   transition: 250ms;
}
.topctotal{
    display: flex;
    float: right;
    width: 30%;
}
.topc{
    margin-left: 30px;
}
.top1{
    margin-bottom: 15px;
    margin-left: 10px;
    text-decoration: none;
}
.atopc1{
    text-decoration: none;
    color: #000000;
}
.redes{
    display: flex;
    margin-top: 220px;
    margin-left: 20px;
}
.instagem img{
    width: 30px;
    height: auto;
    margin-left: 20px;
}
.facebook img{
    width: 30px;
    height: auto;
    margin-left: 20px;
}
.whats img{
    width: 30px;
    height: auto;
    margin-left: 20px;
}
.youtube img{
    width: 30px;
    height: auto;
    margin-bottom: 130px;
}


