body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header{
    border-bottom: 2px solid #f1bfa83f;
}
.topo {
    position: static;
    padding-left: 15px;
    display: flex;
    margin-top: 1%;
    margin-left: 15%;
}
.ing {
    width: 90px;
    height: auto;
}
.infor {
    display: flex;
    margin-left: 55%;
    margin-right: 12px;
}
.infor button{
    padding: 8px;
    border: none;
    font-size: 15px;
    cursor: pointer;

}
.infor button:hover{
    background-color: black;
    color: #fff;
    border-radius: 5px;
    transition: 400ms;
}
.login{
    margin-top: 15px;
    margin-right: 15px;
    border: none;
}
.cadastrece{
    margin-top: 15px;
    margin-right: 15px;
    
}
.contato{
    margin-top: 15px;
    margin-right: 15px;
}
.bloco{
    margin-left: 13%;
    margin-top: 5%;
    margin-right: 60%;
}
.saiba {
    padding: 8px;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 15   px;
}
.saiba:hover{
    
    background-color: black;
    color: #fff;
    border-radius: 5px;
    transition: 400ms;
}
.imginicio{
    width: 1150px;
    height: auto;
    margin-left: 12%;
    margin-top: 3%;
}
.titlet2{
    margin-left: 12%;
    margin-top: 5%;
    font-weight: bold;
}
.imgCortes{
    display: flex;
    width: 1400px;
    margin-left: 20px;
}
.ft1{
    position: relative;
    width: 57%;
    height: auto;
    margin-left: 150px;
    margin-top: 30px;
}
.ft2{
    position: relative;
    width: 57%;
    height: auto;
    margin-left: 150px;
    margin-top: 30px;
}
.ft3{
    position: relative;
    width: 57%;
    height: auto;
    margin-left: 150px;
    margin-top: 30px;
}
.descriçõ{
    width: 1200px;
    height: auto;
    display: flex;
    margin-left: 170px;
}
.desc2{
    margin-left: 190px;
}
.desc3{
    margin-left: 195px;
}
.total{
    width: 1250px;
    height: auto;
    float: left;
    display: flex;
    margin-left: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulo{
    margin-top: 60px;
    
}
.descrition{
    width: 400px;
    height: auto;
    margin-bottom: 30px;
}
.drescrip1{
    margin-top: 30px;
}
.drescrip2{
    margin-top: 50px;
}
.drescrip3{
    margin-top: 50px;
}
.Buttons button{
    padding: 8px;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
.Buttons button:hover{
    background-color: black;
    color: #fff;
    border-radius: 5px;
    transition: 400ms;
}
.imglado img{
    width: 550px;
    height: auto;
    margin-left: 300px;
    margin-top: 50px;
    margin-right: 100%;
    float: inline-start;
}
.problematica{
    margin-top: 680px;
}
.tituloProcedimentos h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 15%;
}
.sobracelha{
    display: flex;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}
.imgsobra1 img{
    width: 600px;
    height: auto;

}
.imgsobra2 img{
    width: 600px;
    height: auto;
    margin-left: 80px;
}
.divtext{
    display: flex;
    float: left;
    width: 80%;
    margin-left: 160px;
}
.divtext2{
    margin-left: 9%;
}
.titulocolabo{
    margin-left: 155px;
    margin-top: 600px;
    margin-bottom: 40px;
}
.colaborado{
    display: flex;
    float: left;
    margin-left: 300px;
    
}
.colaborador1{
    margin-right: 350px;
}
.colaborador2{
    margin-right: 330px;
}

.totalcolab{
    margin-top: 100px;
    display: flex;
    margin-left: 260px;
}
.colab1{
    display: flex;
    float: right;
    margin-right: 260px;
}
.colab2{
    display: flex;
    float: right;
    margin-right: 260px;
}
.colab3{
    display: flex;
    float: right;
    margin-bottom: 80px;
}
.barbeiros{
    border-bottom: 2px solid #f1bfa83f;
}
footer{
    width: 80%;
    height: auto;
    margin-left: 15%;
    margin-top: 3%;
}
.namesite{
    display: flex;
}
.namesite img:hover{
    width: 150px; 
    transition: 400ms;
}
.namesite img{
    width: 100px;
    height: auto;
}
.topc{
    float: right;
    margin-right: 300px;
    margin-top: -100px;
}
.top1{
    margin-bottom: 20px;

}
.redes img{
    width: 30px;
    display: flex;
    float: left;
    margin-top: 120px;
    margin-left: 10px;
    cursor: pointer;
}
.redes img:hover{
    padding: 10px;
    transition: 400ms;
}