
.body{
    margin: 0;
    width: 80%;
    height: auto;
    margin-left: 9%;
    font-family: 'sans-serif';
}
.ing{
    width: 80px;
    height: auto;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 50px;
}
.infor{
    display: flex;
    float: right;
    margin-left: 67%;
    margin-top: 17px;
}
.back{
    background: #222222ad;
    width: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.521);  
    margin-top: 4.6%;
}

.imputs{
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
form{
    width: 400px;
}
.imp1{
    display: flex;
}
.imputes{
    margin-right: 30px;
}
.imppw{
    margin-bottom: 28px;
}
.imputes input{
    padding: 13px;
    width: -webkit-fill-available;
}
.buttoncadastrar{
    margin-bottom: 10%;
}
.buttonesqueci button{
    border: none;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    width: -webkit-fill-available;
}

.buttonesqueci button:hover{
    background: #000000;
    color: #fff;
    box-shadow: 3px 3px 5px black;
    transition: 250ms;
}
.buttonlogin button{
    border: none;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    width: -webkit-fill-available;
}
.buttonlogin button:hover{
    background: #000000;
    color: #fff;
    box-shadow: 3px 3px 5px black;
    transition: 250ms;
}
.buttoncadastrar button{
    border: none;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    width: -webkit-fill-available;
}
.buttoncadastrar button:hover{
    background: #000000;
    color: #fff;
    box-shadow: 3px 3px 5px black;
    transition: 250ms;
}

.buttonfim button{
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 35px;
    height: 30px;
    width: auto;
    margin-right: 90px;
    margin-top: 30px;
    font-size: 20px;
}
.buttonfim button:hover{
    background: #000000;
    color: #fff;
    box-shadow: 3px 3px 5px black;
    transition: 250ms;
}

.erro{
    color: red;
    display: none;
}
footer{
    margin-top: 4.6%;
}




/* Adaptações para telas menores */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        margin-bottom: 10px;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .hero .container {
        flex-direction: column;
        text-align: center
    }
}

